@import url("https://fonts.googleapis.com/css2?family=Rajdhani&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Rajdhani", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  -webkit-animation: fadeInAnimation ease 2.1s;
          animation: fadeInAnimation ease 2.1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  overflow-x: hidden;
  background-color: black;
}

span {
  color: #38b6ff;
}

@-webkit-keyframes fadeInAnimation {
  0% {
    /*opacity: 0.9;*/
    -webkit-filter: brightness(10%);
            filter: brightness(10%);
  }
  100% {
    /*opacity: 1;*/
    -webkit-filter: brightness(100%);
            filter: brightness(100%);
  }
}

@keyframes fadeInAnimation {
  0% {
    /*opacity: 0.9;*/
    -webkit-filter: brightness(10%);
            filter: brightness(10%);
  }
  100% {
    /*opacity: 1;*/
    -webkit-filter: brightness(100%);
            filter: brightness(100%);
  }
}

.hero {
  height: 100vh;
  width: 100vw;
  background-image: url(../images/Stars.gif);
  background-size: 120%;
  background-position: center center;
  background-attachment: fixed;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 20px;
  padding-left: 2%;
  padding-right: 2%;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 25px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 25px;
}

nav ul li a:hover {
  color: #38b6ff;
  font-size: 27px;
  -webkit-filter: drop-shadow(10px 10px 10px grey);
          filter: drop-shadow(10px 10px 10px grey);
  -webkit-transition: .4s;
  transition: .4s;
}

nav img:hover {
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
  -webkit-filter: drop-shadow(10px 10px 10px grey);
          filter: drop-shadow(10px 10px 10px grey);
  -webkit-transition: .4s;
  transition: .4s;
}

.title {
  position: relative;
  text-align: center;
  top: 25%;
}

.title btn {
  font-size: 24px;
  color: #151D21;
  background: #38b6ff;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 7px 40px 7px 40px;
  margin-top: 30px;
  margin-right: 5%;
  margin-left: 5%;
  border: none;
  border-radius: 5px;
}

.title a {
  text-decoration: none;
}

.title h1 {
  color: white;
  margin: 20px 0px 20px;
  font-size: 75px;
  -webkit-filter: drop-shadow(10px 10px 10px grey);
          filter: drop-shadow(10px 10px 10px grey);
}

.title h3 {
  color: white;
  font-size: 40px;
  -webkit-filter: drop-shadow(10px 10px 10px grey);
          filter: drop-shadow(10px 10px 10px grey);
}

/*
.title h1:hover{
    filter: drop-shadow(10px 10px 10px grey);
    font-size: 77px;
    transition: .4s;
}

.title h3:hover{
    filter: drop-shadow(10px 10px 10px grey);
    font-size: 42px;
    transition: .4s;
}

*/
/* About Sectioin */
.about {
  width: 100%;
  padding: 100px 0px;
  background-color: black;
}

.about img {
  height: auto;
  width: 430px;
}

@media screen and (max-width: 850px) {
  .about img {
    width: 286px;
  }
}

@media screen and (max-width: 600px) {
  .about img {
    width: 215px;
  }
}

.about-text {
  width: 550px;
}

.about-main {
  width: 1130px;
  max-width: 95%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.about-text h2 {
  color: white;
  font-size: 75px;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.about-text h5 {
  color: white;
  letter-spacing: 2px;
  font-size: 22px;
  margin-bottom: 25px;
  text-transform: capitalize;
}

.about-text p {
  color: #686868;
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 45px;
}

button {
  font-size: 24px;
  color: #151D21;
  background: #38b6ff;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 7px 40px 7px 40px;
  margin-top: 30px;
  margin-right: 5%;
  margin-left: 5%;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: transparent;
  border: 2px solid #38b6ff;
  cursor: pointer;
  color: white;
}
/*# sourceMappingURL=main.css.map */