@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');


$base-duration: 500ms;

// Colors
$color-1: #2c3e50;
$color-2: #1abc9c;
$color-3: #2ecc71;

// Breakpoints
$sm: new-breakpoint(min-width 320px);
$med: new-breakpoint(min-width 768px);
$lg: new-breakpoint(min-width 1024px);

$accent-color: #38b6ff;
$title-shawdow: 10px;

*{
    padding: 0;
    margin: 0;
    font-family: "Rajdhani", sans-serif;
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: $accent-color transparent;
}

html{
    scroll-behavior: smooth;
}

body {
    animation: fadeInAnimation ease 2.1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    overflow-x: hidden;
    background-color: black;
}

*::-webkit-scrollbar {
    width: 6px;
  }
  
  *::-webkit-scrollbar-track {
    background: transparent;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: $accent-color;
    border-radius: 20px;
    border: none;
  }


span{
    color: $accent-color; 
}

@keyframes fadeInAnimation {
    0% {
        /*opacity: 0.9;*/
        filter: brightness(10%);
    }
    100% {
        /*opacity: 1;*/
        filter: brightness(100%);
     }
}

.hero{
    height: 100vh;
    width: 100vw;
    background-image: url(../images/Stars.gif);
    background-size: 120%;
    background-position: center center;
    background-attachment: fixed;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 2%;
    padding-right: 2%;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
    margin-right: 40px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 25px;
}

nav ul li a:hover{
    color: $accent-color;
    font-size: 27px;
    filter: drop-shadow(10px 10px 10px grey);
    transition: .4s;
}


nav img:hover{
    transform: scale(1.08);
    filter: drop-shadow(10px 10px 10px grey);
    transition: .4s;
}

.title{
    position: relative;
    text-align: center;
    top: 23%;

}

.title btn{
    font-size: 24px;
    color: white;
    background-color: transparent;
    border: 2px solid $accent-color;
    display: inline-flex;
    padding: 7px 40px 7px 40px;
    margin-top: 10px;
    margin-right: 5%;
    margin-left: 5%;
    border-radius: 5px;
    filter: drop-shadow(5px 5px 5px grey);
}

.title btn:hover{
    cursor: pointer;
    font-size: 26px;
    filter: drop-shadow(10px 10px 10px grey);
    transition: .4s;
}

.title a{
    text-decoration: none;
}

.title h1{
    color: white;
    margin: 20px 0px 20px;
    font-size: 75px;
    animation: flicker 5s infinite;
}
.title h3{
    color: white;
    font-size: 40px;
    animation: flicker 5s infinite;
}

@keyframes flicker{
    0% {
        filter: drop-shadow(8.7px 8.7px 8.7px grey);
    }
    25% {
        filter: drop-shadow(9.8px 9.8px 9.8px grey);
    }
    50%{
        filter: drop-shadow(9.5px 9.5px 9.5px grey);
    }
    75%{
        filter: drop-shadow(9px 9px 9px grey);
    }
    100%{
        filter: drop-shadow(10px 10px 10px grey);
    }
}

.l-social{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.l-social a{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: 2px solid $accent-color;
    border-radius: 50%;
    margin: 15px 10px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
}

.l-social a:hover{
    transform: scale(1.08);
    transition: .4s;
}

.l-social i{
    align-items: center;
    text-align: center;
}

.l-social img{
    width: 50%;
    height: 50%
}

/*
.title h1:hover{
    filter: drop-shadow(10px 10px 10px grey);
    font-size: 77px;
    transition: .4s;
}

.title h3:hover{
    filter: drop-shadow(10px 10px 10px grey);
    font-size: 42px;
    transition: .4s;
}

*/

/* About Sectioin */

.about{
    width: 100%;
    padding: 150px 0px;
    background-color: black;

}

.about img{
    height: auto;
    width: 430px;
}

@media screen and (max-width: 850px) {
    .about img{
        width: 286px;
    }
    .title{
        top: 15%;
    }
}

@media screen and (max-width: 600px) {
    .about img{
        width: 215px;   
        margin-left: 10px;
        margin-right: 10px;
    }
    .about-text{
        margin: 20px;
    }

    .about-text button{
        margin-left: 1px;
        margin-right: 1px;
    }
}

@media screen and (max-width: 500px) {
    .about img{
        display: none;
    }
}

@media screen and (max-width: 665px) {
    nav ul li {
        margin-right: 5%;
    }
}

@media screen and (max-width: 411px) {
    nav ul li {
        margin-left: 100px;
    }
}

.about-text{
    width: 550px;
}

.about-text strong{
    color: white;
}

.about-main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-text h2{
    color: white;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about-text h5{
    color: white;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}

.about-text p{
    color: #686868;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
    font-weight: bold;
}

.about-text a{
    text-decoration: none;
}

button {
    font-size: 24px;
    color: #151D21;
    background: $accent-color;
    display: inline-flex;
    padding: 7px 40px 7px 40px;
    margin-top: 30px;
    margin-right: 5%;
    margin-left: 5%;
    border: none;
    border-radius: 5px;
}

button:hover{
    background-color: transparent;
    border: 2px solid $accent-color;
    cursor: pointer;
    color: white;
    transition: .4s;
}

/*services*/

.card a{
    text-decoration: none;
}

.pra button{
    font-size: 20px;
    color: #151D21;
    background: $accent-color;
    display: inline-flex;
    padding: 7px 20px 7px 20px;
    margin-top: 20px;
    margin-right: 5%;
    margin-left: 5%;
    border: none;
    border-radius: 5px;
}
.pra button:hover{
    background-color: transparent;
    border: 2px solid $accent-color;
    cursor: pointer;
    color: white;
}

.pra p{
    font-size: 15px;
}

.services{
    background-color: black;
    width: 100%;
    padding: 100px 0px;
    color: white;
}

.services a{
    text-decoration: none;
}

.services-title h2{
    color: white;
    font-size: 75px;
    margin: 30px auto;
    text-align: center;
}

.services-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    align-content: center;
}

.services-card{
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    background-color: #191919;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.services-card i{
   font-size: 50px;
   display: block;
   text-align: center;
   margin: 10px 0px;
   color: $accent-color;
}

.card h5{
    font-size: 25px;
}

/*Projects*/

.projects{
    background-color: black;
    width: 100%;
    padding: 100px 0px;
    
}
     
.projects-container{
    /*width: 1000px;*/
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.projects-container .card{
    position: relative;
    cursor: pointer;
    margin: 25px;
}

.projects-container .card .face{
    width: 300px;
    height: 200px;
    border-radius: 10px;
    transition: 0.5s;
}

.projects-container .card .face.face1{
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.projects-container .card:hover .face.face1{
    background: $accent-color;
    transform: translateY(0);
}

.projects-container .card .face.face1 .content{
    opacity: 0.2;
    transition: 0.5s;
}

.projects-container .card:hover .face.face1 .content{
    opacity: 1;
}

.projects-container .card .face.face1 .content img{
    max-width: 100px;
    position: relative;
}

.projects-container .card .face.face1 .content h3{
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
}

.projects-container .card .face.face2{
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-100px);
}

.projects-container .card:hover .face.face2{
    transform: translateY(0);
}

.projects-container .card .face.face2 .content p{
    margin: 0;
    padding: 0;
    color: white;
}

.projects-container .card .face.face2 .content a{
    font-size: 20px;
    color: #151D21;
    background: $accent-color;
    display: inline-flex;
    padding: 7px 15px 7px 15px;
    margin-top: 25px;
    margin-left: 27%;
    border: none;
    border-radius: 5px;
    text-align: center;
    align-self: center;
}

.projects-container .card .face.face2 .content a:hover{
    background-color: transparent;
    border: 2px solid $accent-color;
    cursor: pointer;
    color: white;
}

/*Footer*/
.footer{
    width: 100%;
    height:400px;
    background-color: #333;
    align-items: center;
    justify-content: center;
    text-align: center;
}

footer p:nth-child(1){
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
}

footer p:nth-child(2){
    color: white;
    font-size: 17px;
    text-align: center;
    line-height: 26px;
}

.end{
    color: white;
    font-size: 17px;    
    text-align: center;
    margin-bottom: 50px;
}

.social{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.social a{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $accent-color;
    border-radius: 50%;
    margin: 22px 10px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
}

.social a:hover{
    transform: scale(1.08);
    transition: .4s;
}

.social i{
    align-items: center;
    text-align: center;
}

.social img{
    width: 50%;
    height: 50%
}
/*
.end{
    position: absolute;
    align-items: center;
    align-content: center;
    justify-content: center;
    color: white;
    text-align: center;
}
*/