<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TechnoTalks</title>
    <link rel="stylesheet" href="../static/main/scss/main.css">
    <link rel="shortcut icon" href="../static/main/images/TT1000.ico" type="image/x-icon">  
</head>
<body>
    <div class="hero" id="hero">
        <nav>
            <img src="../static/main/images/TT transparent.png" width="100" height="100" alt="Logo"></img>
            <ul>
                <li><a href="#">Landing</a></li>
                <li><a href="#about">About me</a></li>
                <li><a href="#projects">Projects</a></li>
                <li><a href="#services">Services</a></li>
            </ul>
        </nav>
        <div class="title">
            <h1>Hey, I'm <span>TechnoTalks!</span></h4>
            <h3>Student | Developer | Content Creator</h3>
            <a href="#about"><btn>Explore</btn></a>
        </div>
    </div>
    <script src="../static/main/jquery/jquery-3.6.0.slim.min.js"></script>
    <script src="../static/main/jquery/jquery.backgroundMove.js"></script>
    <script>
        $('.hero').backgroundMove({
        movementStrength:'50'
        });
    </script>

    <section class="about">
        <a id="about">About Me</a>
        <div class="about-main">
            <img src="../static/main/images/TT transparent.png">
            <div class="about-text">
                <h2>About me</h2>
                <h5><span>Python</span> | Open-Source | <span>Developer</span></h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                incididunt ut labore et dolore magna aliqua. 
                Nulla facilisi cras fermentum odio eu feugiat. 
                Pulvinar etiam non quam lacus suspendisse faucibus interdum posuere lorem. 
                Arcu bibendum at varius vel pharetra vel turpis nunc eget. 
                Quis hendrerit dolor magna eget est lorem ipsum dolor.</p>
                <button type="button">Projects</button>
                <button type="button">Services</button>
            </div>
        </div>

    </section>
</body>
</html>