<!DOCTYPE html>
<html lang="en">
<head>
    <!--Meta-->>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="TechnoTalks, technotalks, developer, content, youtube, services, discord bots, discord bot developer, minecraft, minecraft server, minecraft server manager">
    <meta name="author" content="TechnoTalks">
    <meta name="description" content="TechnoTalks's Portifolio including services and projects!">
    <meta property="og:title" content="TechnoTalks: Student | Developer | Content Creator">
    <meta property="og:description" content="TechnoTalks's Portifolio including services and projects!">
    <meta property="og:type" content="website">
    <meta property="og:image" content="../static/main/images/TT transparent.png">
    <!--Title-->
    <title>TechnoTalks: Student | Developer | Content Creator</title>
    <!--Setup-->>
    <link rel="stylesheet" href="../static/main/scss/main.css">
    <link rel="icon" type="image/x-icon" href="../static/main/images/TT1000.ico">
    <script src="https://kit.fontawesome.com/df4a4406ec.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="hero" id="hero">
        <nav>
            <img src="../static/main/images/TT transparent.png" width="100" height="100" alt="Logo"></img>
            <ul>
                <li><a href="#about">About me</a></li>
                <li><a href="#projects">Projects</a></li>
                <li><a href="#services">Services</a></li>
            </ul>
        </nav>
        <div class="title">
            <h1>Hey, I'm <span>TechnoTalks!</span></h4>
            <h3>Student | Developer | Content Creator</h3>
            
            <div class="l-social">
                <a href="https://discord.gg/HvK9a77cCb" target="_blank"><img src="../static/main/images/Discord.svg"></a>
                <a href="https://github.com/TechnoTalksDev" target="_blank"><i class="fa-brands fa-github"></i></a>
                <a href="https://www.youtube.com/channel/UCy4Apz86dt0PKghhZK9xFlQ" target="_blank"><i class="fa-brands fa-youtube"></i></a>
            </div>
            
            <a href="#about"><btn>Explore</btn></a>
        </div>
    </div>
    <script src="../static/main/jquery/jquery-3.6.0.slim.min.js"></script>
    <script src="../static/main/jquery/jquery.backgroundMove.js"></script>
    <script>
        $('.hero').backgroundMove({
        movementStrength:'50'
        });
    </script>
    <!--about-->
    <a id="about">About Me</a>
    <section class="about">
        <div class="about-main">
            <img src="../static/main/images/TT transparent.png">
            <div class="about-text">
                <h2>About me</h2>
                <h5><span>Python</span> | Open-Source | <span>Developer</span></h5>
                <p><strong>Hey, I'm TechnoTalks! A high schooler who's an aspiring developer based in the US.</strong> I love tech in general hence the name <span>TechnoTalks</span>. I don't really know why I code to be honest. It's something that's <span>really frustrating<span>, but I guess <span>that feeling<span> of squashing that bug or implementing a new feature at the end of the day is enough <span>to drive me to the next bug, feature, and anything in between</span>. I mostly work on random projects I feel like working on that, are reasonably in reach for my skill level. I'm currently dabbling in a little bit of competitive programming which I think should be called competitive problem solving. Hear me out, 90% of competitive programing is coming up with an effective algorithim, then the other 10% is writing it out in code... See what I mean? Anyway I won't bore you anymore check out my projects down bellow...</p>
                <a href="#projects"><button type="button">Projects</button></a>
                <a href="#services"><button type="button">Services</button></a>
            </div>
        </div>
    </section>
    <!--projects-->
    <a id="projects"></a>
    <section class="projects">
        <div class="services-title">
            <h2>Projects</h2>
        </div>

        <div class="projects-container">
            <div class="card">
                <div class="face face1">
                    <div class="content">
                        <img src="../static/main/images/Reko_Circular-removebg-preview.png">
                        <h3>Reko</h3>
                    </div>
                </div>
                <div class="face face2">
                    <div class="content">
                        <p>A Minecraft Server Status discord bot written in python! Get various stats of Minecraft Server's including player count, version, and the MOTD.</p>
                            <a href="https://github.com/TechnoTalksDev/Reko" target="_blank">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="face face1">
                    <div class="content">
                        <img src="../static/main/images/air.png">
                        <h3>Air Hosting</h3>
                    </div>
                </div>
                <div class="face face2">
                    <div class="content">
                        <p>A simple straighforward hosting service for your testing/lightweight hosting purposes. Host lightweight docker containers for extremly cheap.</p>
                            <a href="https://discord.gg/HvK9a77cCb" target="_blank">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="face face1">
                    <div class="content">
                        <img src="../static/main/images/Demi-Mortal SMP Logo.png">
                        <h3>Demi-Mortal</h3>
                    </div>
                </div>
                <div class="face face2">
                    <div class="content">
                        <p>Demi-Mortal SMP is a content creation SMP focused on the idea of limited lives. Players start out with 3 lives, every time they die they lose a life. </p>
                            <a href="https://discord.gg/649BE8evZu" target="_blank">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="face face1">
                    <div class="content">
                        <img src="https://th.bing.com/th/id/R.d3315f6f14e369457f1b7d7cc2945aaf?rik=3vODKFvSUjUwMA&riu=http%3a%2f%2fwww.pngmart.com%2ffiles%2f4%2fSpace-Invaders-Transparent-Background.png&ehk=V8Kp6PvmbPD6uSMIOGIlg4NiMAo7kPBfwlgkg5%2bWnHY%3d&risl=&pid=ImgRaw&r=0">
                        <h3>SpaceBoi</h3>
                    </div>
                </div>
                <div class="face face2">
                    <div class="content">
                        <p>A 2D space shooter inspired by Space Invaders made with Python and Pygame :)</p>
                            <a href="https://github.com/TechnoTalksDev/Spaceboi" target="_blank">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--services-->
    <section class="services">
        <a id="services"></a>
        <div class="services-title">
            <h2>My Services</h2>
        </div>

        <div class="services-box">
            <div class="services-card">
                <i class="fa-brands fa-bots"></i>
                <h5>Discord Bots</h5>
                <div class="pra">
                    <p>Need a custom Discord bot? Get a fully custom discord bot with almost any requested future: Database support, 24/7 Hosting (Hosted by AirHosting). Almost anything you can think of! Small to medium sized bots to make your server customized and personal. For details and more information including restrictions please contact me below!</p>
                    <p style="text-align: center;">
                        <a href="https://discord.gg/HvK9a77cCb" target="_blank"><button type="button">Contact me!</button></a>
                    </p>
                </div>
            </div>

            <div class="services-card">
                <i class="fa-solid fa-server"></i>
                <h5>Minecraft Server Manager (*)</h5>
                <div class="pra">
                    <p>Need a manger/admin for your awesome Minecraft Server! Experience with multiple types of Minecraft Server's including: PvP servers, SMP's, and more! I can help with maintaing the backend of your server or moderating your playerbase! *This service is only offered to server ideas that I'm interested in so please contact me!</br></br></p>
                    <p style="text-align: center;">
                        <a href="https://discord.gg/HvK9a77cCb" target="_blank"><button type="button">Contact me!</button></a>
                    </p>
                </div>
            </div>
            <div class="services-card">
                <i class="fa-solid fa-info"></i>
                <h5>Minecraft Server Startup (*)</h5>
                <div class="pra">
                    <p>Want to start a new Minecraft Server but don't know where to start? I can help you get your next big Minecraft Server up and running. I can provide insights for plugins to use, setting up bungeecord, pointing you to the right turorials etc. *This service is only offered to server ideas that I'm interested in so please contact me!</br></br></p>
                    <p style="text-align: center;">
                        <a href="https://discord.gg/HvK9a77cCb" target="_blank"><button type="button">Contact me!</button></a>
                    </p>
                </div>
            </div>   
        </div>
    </section>

    <!--footer-->
    <footer>
        <p>TechnoTalks</p>
        <p>"Time is precious... waste it wisely..."</br>"The best side is no side..."</p>
        <div class="social">
            <a href="https://discord.gg/HvK9a77cCb" target="_blank"><img src="../static/main/images/Discord.svg"></a>
            <a href="https://github.com/TechnoTalksDev" target="_blank"><i class="fa-brands fa-github"></i></a>
            <a href="https://www.youtube.com/channel/UCy4Apz86dt0PKghhZK9xFlQ" target="_blank"><i class="fa-brands fa-youtube"></i></a>
        </div>
        <p class="end">© TechnoTalks</p>
    </footer>

</body>
</html>